body {
    color: gray;
}

container {
border-width: 200em;
display: flex;
justify-content: space-around;
color: blueviolet;
}
p {
    border: 2px solid powderblue;
    text-align: center;
    margin-top: 2em;
  }
  .smiley {
    position: absolute;
    left: 50%;
    height: 100px;
    width: auto;
  }